<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
       <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">

    <title>tennistunier_planer</title>
</head>
<body>
<div style="text-align: center">
<div class = "blue_box">
    <form action="#" method="post">
        <label for="cars">Wähle einen Modus: </label>
        <select id="mode" name="mode" onchange="select_input()">
            <option value="1" id="1">Doppel</option>
            <option value="2" id="2">Einzel</option>
            <option value="3" id="3">Einzel- jeder gegen jeden</option>
            <option value="4" id="4">einzel begrenzte Plätze</option>
        </select>
        <br><br>
        <div id="spieler">
        <label for="spieler_label">Anzahl Spieler:</label>
        <input type="text"  name="spieler">
            </div>
        <br>
                <div id="runden">
        <label for="runden_label">Anzahl Runden</label>
        <input type="text"  name="runden">
        </div>

        <br>
        <div id="fields" >
        <label for="spieler_label">Anzahl Plätze:</label>
        <input type="text" name="fields">
        </div>
            <br>

        <input class="btn" type="submit" value="submit">
    </form>
</div>
</div>
<script>
                document.getElementById("runden").style.visibility = "visible";
            document.getElementById("fields").style.visibility = "hidden";
    function select_input(){
        console.log("onchange")
        var e = document.getElementById("mode");
        var mode = e.options[e.selectedIndex].value;

        if(mode == "1" || mode == "2"){

            document.getElementById("runden").style.visibility = "visible";
            document.getElementById("fields").style.visibility = "hidden";
        }else if(mode == "3"){

            document.getElementById("runden").style.visibility = "hidden";
            document.getElementById("fields").style.visibility = "hidden";
        }else if(mode == "4"){
            document.getElementById("runden").style.visibility = "visible";
            document.getElementById("fields").style.visibility = "visible";
        }


    }
</script>
</body>
</html>